<div class="btn-group filterSectionClass" role="group" aria-label="First group">
    <button type="button" class="btn btn-outline-secondary" (click)="getAllData()">All</button>
    <button type="button" class="btn btn-outline-secondary" (click)="getAllTravelData()">Travel</button>
    <button type="button" class="btn btn-outline-secondary" (click)="getAllLifestyleData()">Lifesyle</button>
    <button type="button" class="btn btn-outline-secondary" (click)="getAllBusinessData()">Business</button>
    <button type="button" class="btn btn-outline-secondary" (click)="getAllFoodData()">Food</button>
    <button type="button" class="btn btn-outline-secondary" (click)="getAllWorkData()">Work</button>
  </div>