<div class="btn-group filterSectionClass" role="group" aria-label="First group">
    <button type="button" class="btn btn-outline-secondary">All</button>
    <button type="button" class="btn btn-outline-secondary">Travel</button>
    <button type="button" class="btn btn-outline-secondary">Lifesyle</button>
    <button type="button" class="btn btn-outline-secondary">Business</button>
    <button type="button" class="btn btn-outline-secondary">Food</button>
    <button type="button" class="btn btn-outline-secondary">Work</button>
  </div>