.mainTitle {
  p,
  h1 {
    margin: 10px;
  }
  p {
    color: orange;
  }
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.classIcon {
  color: white;
}

.contenedor {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: orange;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: auto;
  align-self: self-end;
}
