<div class="mainTitle">
  <p>[Making your Life Easier!!]</p>
  <h1>Discovering the World!!</h1>
  <div class="contenedor">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="classIcon" fontIcon="edit"></mat-icon>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Left</button>
    <button type="button" class="btn btn-primary">Middle</button>
    <button type="button" class="btn btn-primary">Right</button>
  </div>
