 <div class="dialogCointainer">

  <h1>Create a Post</h1>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select>
        <mat-option value="option">Option 1</mat-option>
        <mat-option value="option">Option 2</mat-option>
        <mat-option value="option">Option 3</mat-option>
      </mat-select>
    </mat-form-field>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>URL of the image</mat-label>
      <input matInput placeholder="URL of the image">
      <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>
  </p>
<div class="btnContainer">
  <button type="button" class="btn btn-light" (click)="onNoClick()">Cancel</button>
  <button type="button" class="btn btn-primary">Save</button>
</div>

 </div>
