@import '~normalize.css';
@import './app/shared/variables';

body {
  font-family: 'Open Sans', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
