.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  // padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  display: block; /* Para que el botón ocupe todo el ancho disponible */

  margin: auto; /* Centrar horizontalmente utilizando margin:auto */
  margin-top: 10px;
  margin-bottom: 10px;

}
.card {
  width: 50%;
  height: 400px;
  border-color: black;
  border-width: 1px;
  // padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.filterSectionClass{
  display: flex;
  margin: auto;
  width: 500px;
}

.classIcon {
  color: white;
}

.contenedor {
  cursor: pointer;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: orange;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: auto;
  align-self: self-end;
}

.btnContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}


@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
