<!-- Activity 3: Create Header components -->
<!-- Inicio HeaderPosts.vue -->
<div class="container pt-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h6 class="sub-title">[ Making your Life Easier ]</h6>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <h1 class="display-1">Discovering the World</h1>
    </div>
    <div class="col-12 d-flex justify-content-end p-2">
      <i class="fa-solid fa-square-pen fa-2xl create-post" data-bs-toggle="modal" data-bs-target="#createPostModal"></i>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <!-- Inicio CategoriesList.vue -->
      <div class="btn-group" role="group">
        <!-- Inicio CategoryItem.vue -->
        <button type="button" class="btn btn-light">Category 1</button>
        <button type="button" class="btn btn-light active">Category 2</button>
        <button type="button" class="btn btn-light">Category 3</button>
        <button type="button" class="btn btn-light">Category 4</button>
        <!-- Fin CategoryItem.vue -->
      </div>
    </div>
  </div>
</div>
<!-- Fin HeaderPosts.vue -->
<div class="row pt-5">
  <!-- Activity 4: Create PostItem component -->
  <!-- Inicio PostItem.vue -->
  <div class="col-md-12 col-lg-6">
    <div class="card bg-dark text-white">
      <img src="https://cdn.pixabay.com/photo/2017/02/22/17/06/wave-2089959_960_720.jpg" class="card-img" />
      <div class="card-img-overlay mt-3 ms-3 card-img">
        <div class="card-content">
          <h1 class="display-5">Post 1</h1>
          <p class="card-text fs-5">
            <em>10 comments </em>
            <i class="fa-solid fa-comment"></i>
          </p>
          <p class="card-text fs-5">Description</p>
          <p class="card-text fs-5 text-uppercase">
            <strong>Category 1</strong>
          </p>
        </div>
      </div>
      <div class="card-img-overlay card-buttons">
        <div class="d-flex justify-content-end align-items-center ms-4">
          <i class="fa-solid fa-pen pe-3" data-bs-toggle="modal" data-bs-target="#createPostModal"></i>
          <i class="fa-solid fa-trash"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin PostItem.vue -->
</div>
<div class="alert alert-warning m-3" role="alert">There are not results.</div>
