<div class="dialogCointainer">
  <h1>Edit/Delete Post</h1>

  <form action="" [formGroup]="profileForm" (ngSubmit)="onSave()">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" type="text" formControlName="title" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" type="text" formControlName="description" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select type="text" formControlName="category">
          <mat-option value="Travel">Travel</mat-option>
          <mat-option value="Lifestyle">Life Style</mat-option>
          <mat-option value="Business">Business</mat-option>
          <mat-option value="Food">Food</mat-option>
          <mat-option value="Work">Work</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>URL of the image</mat-label>
        <input matInput placeholder="URL of the image" type="text" formControlName="url" />
        <mat-icon matSuffix>link</mat-icon>
      </mat-form-field>
    </p>
    <div class="btnContainer">
      <button type="button" class="btn btn-light" (click)="onNoClick()">Cancel</button>
      <button type="submit" class="btn btn-primary">Edit</button>
      <button type="button" class="btn btn-danger" (click)="deleteData()">Delete</button>
    </div>
  </form>
</div>
