.clase1 {
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 30%;
  }
  
  .clase2 {
    background-color: pink;
    height: 100px;
    width: 100px;
    border-radius: 0%;
  }
  
  .clase3 {
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 0%;
  }
  